name: great_place
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  uuid: ^4.5.2
  flutter_riverpod: ^3.0.3
  image_picker: ^1.2.1
  location: ^8.0.1
  flutter_dotenv: ^5.1.0
  http: ^1.6.0
  google_maps_flutter: ^2.14.0
  path_provider: ^2.1.5
  path: ^1.9.1
  sqflite: ^2.4.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - .env